body {
    background-color: #fff3db;
}

.blanco {
    color: white;
}

.fondo {
    background-color: rgb(48, 189, 255);
}

.carusel {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}

.rubik-scribble-regular {
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
}

.tamaño{
    font-size: 25px;
}

.colorA {
    color: #e9dc22;
}

.colorB {
    color: #ffffff;
}

.colorC {
    color: #1eb1f5;
}

footer {
    text-align: center;
}

footer li {
    display: inline;
    margin: 5px;
}

a{
    text-decoration: none;
    color: white;
}

.fondo {
    background-color: rgb(48, 189, 255);
}

.link_footer {
    color: white;
    text-decoration: none;
}